# Heroes Of Pymoli Data Analysis
## Summary
-There are <576> players, XX% are males and XX are femmales.

## Data

In [1]:
#Setup
import pandas as pd
#Load file with data and read data
DataFile="Resources/purchase_data.csv"
Purchase_df=pd.read_csv(DataFile)
Purchase_df.head().to_html(index=False,justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th>Purchase ID</th>\n      <th>SN</th>\n      <th>Age</th>\n      <th>Gender</th>\n      <th>Item ID</th>\n      <th>Item Name</th>\n      <th>Price</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>0</td>\n      <td>Lisim78</td>\n      <td>20</td>\n      <td>Male</td>\n      <td>108</td>\n      <td>Extraction, Quickblade Of Trembling Hands</td>\n      <td>3.53</td>\n    </tr>\n    <tr>\n      <td>1</td>\n      <td>Lisovynya38</td>\n      <td>40</td>\n      <td>Male</td>\n      <td>143</td>\n      <td>Frenzied Scimitar</td>\n      <td>1.56</td>\n    </tr>\n    <tr>\n      <td>2</td>\n      <td>Ithergue48</td>\n      <td>24</td>\n      <td>Male</td>\n      <td>92</td>\n      <td>Final Critic</td>\n      <td>4.88</td>\n    </tr>\n    <tr>\n      <td>3</td>\n      <td>Chamassasya86</td>\n      <td>24</td>\n      <td>Male</td>\n      <td>100</td>\n      <td>Blindscythe</td>\n      <td>3.27</td>\n    </tr>\n    <tr>\n      <td>4</td>\n      <td>Iskosia90</td>\n      <td>23</td>\n      <td>Male</td>\n      <td>131</td>\n      <td>Fury</td>\n      <td>1.44</td>\n    </tr>\n  </tbody>\n</table>'

##                                                                 Players

In [2]:
#Player count
Total=len(Purchase_df['SN'].unique())
pd.DataFrame({'Total':Total}, index=['Players']).to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Total</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Players</th>\n      <td>576</td>\n    </tr>\n  </tbody>\n</table>'

## Revenue Analysis

In [3]:
#Number of unique Items
UniqueItems=len(Purchase_df['Item ID'].unique())
#Average purchase price
PriceAverage=round(Purchase_df['Price'].mean(),4)
#Total number of purchases
NumberPurchases=Purchase_df['Purchase ID'].count()
#Total Revenue
Revenue=round(Purchase_df['Price'].sum(),2)

In [4]:
RenevuePurchasing=pd.DataFrame({
    'Unique Items':UniqueItems,
    'Average Purchase Price':'${:.2f}'.format(PriceAverage),
    'Number of Purchases':NumberPurchases,
    'Total Revenue':'${:,}'.format(Revenue)
}, index=['Revenue summary'])
RenevuePurchasing.to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Unique Items</th>\n      <th>Average Purchase Price</th>\n      <th>Number of Purchases</th>\n      <th>Total Revenue</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Revenue summary</th>\n      <td>179</td>\n      <td>$3.05</td>\n      <td>780</td>\n      <td>$2,379.77</td>\n    </tr>\n  </tbody>\n</table>'

## Gender Demographics
  
 There are player which are

In [5]:
#Percentage and count of male players
#Percentage and count of female players
#Percentage and count of other/Non-Disclosed
genderGroup=Purchase_df.groupby(['Gender'])
genderCount=genderGroup.nunique()['SN']
genderPercent=genderGroup.nunique()['SN']/Total

In [6]:
SummaryGender=pd.DataFrame({
    'Players':genderCount,
    'Percent':genderPercent.map('{:.2%}'.format)
}, index=set(Purchase_df['Gender']))
SummaryGender.to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Players</th>\n      <th>Percent</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Other / Non-Disclosed</th>\n      <td>11</td>\n      <td>1.91%</td>\n    </tr>\n    <tr>\n      <th>Male</th>\n      <td>484</td>\n      <td>84.03%</td>\n    </tr>\n    <tr>\n      <th>Female</th>\n      <td>81</td>\n      <td>14.06%</td>\n    </tr>\n  </tbody>\n</table>'

### Purchasing Analysis

In [7]:
#By gender
#Average purchase price
#Total purchase value
#Averange purchase total per person by gender
genderPriceAverage=round(genderGroup['Price'].mean(),2)
genderPurchaseValue=round(genderGroup['Price'].sum(),2)
genderPurcase=round(genderGroup['Purchase ID'].count(),2)
genderPurcaseAvarange=genderPurchaseValue/genderCount

In [8]:
SummaryGender2=pd.DataFrame({
    'Number of purchasings':genderPurcase,
    'Avarage purchase price':genderPriceAverage.map('${:.2f}'.format),
    'Total purchase vale':genderPurchaseValue.map('${:,}'.format),
    'Avarage Purchase per person':genderPurcaseAvarange.map('${:.2f}'.format)
})
SummaryGender2.to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Number of purchasings</th>\n      <th>Avarage purchase price</th>\n      <th>Total purchase vale</th>\n      <th>Avarage Purchase per person</th>\n    </tr>\n    <tr>\n      <th>Gender</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Female</th>\n      <td>113</td>\n      <td>$3.20</td>\n      <td>$361.94</td>\n      <td>$4.47</td>\n    </tr>\n    <tr>\n      <th>Male</th>\n      <td>652</td>\n      <td>$3.02</td>\n      <td>$1,967.64</td>\n      <td>$4.07</td>\n    </tr>\n    <tr>\n      <th>Other / Non-Disclosed</th>\n      <td>15</td>\n      <td>$3.35</td>\n      <td>$50.19</td>\n      <td>$4.56</td>\n    </tr>\n  </tbody>\n</table>'

## Age Demographis

In [9]:
#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

bins=[0,9,14,19,24,29,34,39,99]
bins_labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
Purchase_df['Age category']=pd.cut(Purchase_df['Age'], bins, labels=bins_labels)

In [10]:
AgeCount=Purchase_df.groupby(['Age category']).nunique()['SN']
AgePercent=round(AgeCount/Total,4)
SummaryAge=pd.DataFrame({
    'Total count':AgeCount,
    'Percent':AgePercent.map('{:.2%}'.format)
},)
SummaryAge.to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Total count</th>\n      <th>Percent</th>\n    </tr>\n    <tr>\n      <th>Age category</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>&lt;10</th>\n      <td>17</td>\n      <td>2.95%</td>\n    </tr>\n    <tr>\n      <th>10-14</th>\n      <td>22</td>\n      <td>3.82%</td>\n    </tr>\n    <tr>\n      <th>15-19</th>\n      <td>107</td>\n      <td>18.58%</td>\n    </tr>\n    <tr>\n      <th>20-24</th>\n      <td>258</td>\n      <td>44.79%</td>\n    </tr>\n    <tr>\n      <th>25-29</th>\n      <td>77</td>\n      <td>13.37%</td>\n    </tr>\n    <tr>\n      <th>30-34</th>\n      <td>52</td>\n      <td>9.03%</td>\n    </tr>\n    <tr>\n      <th>35-39</th>\n      <td>31</td>\n      <td>5.38%</td>\n    </tr>\n    <tr>\n      <th>40+</th>\n      <td>12</td>\n      <td>2.08%</td>\n    </tr>\n  </tbody>\n</table>'

### Purchasing by Age

In [11]:
AgeGroup=Purchase_df.groupby(['Age category'])
AgeCategory=AgeGroup['Purchase ID'].count()
AgeAveragePrice=round(AgeGroup['Price'].mean(),2)
AgePurchases=round(AgeGroup['Price'].sum(),2)
AgeAvePerCategory=round(AgePurchases/AgeCount,2)

In [12]:
SummaryAge2=pd.DataFrame({
    'Purchase Count':AgeCategory,
    'Average purchase price':AgeAveragePrice.map('${:.2f}'.format),
    'Total purchase value':AgePurchases.map('${:,}'.format),
    'Ave Total Purchase per Person':AgeAvePerCategory.map('${:.2f}'.format)
})
SummaryAge2.to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Purchase Count</th>\n      <th>Average purchase price</th>\n      <th>Total purchase value</th>\n      <th>Ave Total Purchase per Person</th>\n    </tr>\n    <tr>\n      <th>Age category</th>\n      <th></th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>&lt;10</th>\n      <td>23</td>\n      <td>$3.35</td>\n      <td>$77.13</td>\n      <td>$4.54</td>\n    </tr>\n    <tr>\n      <th>10-14</th>\n      <td>28</td>\n      <td>$2.96</td>\n      <td>$82.78</td>\n      <td>$3.76</td>\n    </tr>\n    <tr>\n      <th>15-19</th>\n      <td>136</td>\n      <td>$3.04</td>\n      <td>$412.89</td>\n      <td>$3.86</td>\n    </tr>\n    <tr>\n      <th>20-24</th>\n      <td>365</td>\n      <td>$3.05</td>\n      <td>$1,114.06</td>\n      <td>$4.32</td>\n    </tr>\n    <tr>\n      <th>25-29</th>\n      <td>101</td>\n      <td>$2.90</td>\n      <td>$293.0</td>\n      <td>$3.81</td>\n    </tr>\n    <tr>\n      <th>30-34</th>\n      <td>73</td>\n      <td>$2.93</td>\n      <td>$214.0</td>\n      <td>$4.12</td>\n    </tr>\n    <tr>\n      <th>35-39</th>\n      <td>41</td>\n      <td>$3.60</td>\n      <td>$147.67</td>\n      <td>$4.76</td>\n    </tr>\n    <tr>\n      <th>40+</th>\n      <td>13</td>\n      <td>$2.94</td>\n      <td>$38.24</td>\n      <td>$3.19</td>\n    </tr>\n  </tbody>\n</table>'

## Top Spenders

In [13]:
SNCount=Purchase_df.groupby(['SN']).count()['Purchase ID']
SNAveragePurchasePrice=Purchase_df.groupby(['SN']).mean()['Price']
SNPurchaseValue=Purchase_df.groupby(['SN']).sum()['Price']

In [14]:
SummarySN=pd.DataFrame({
    'Count Purchase':SNCount,
    'Avarage Purchase Price':SNAveragePurchasePrice.map('${:.2f}'.format),
    'Total Purchase Value':SNPurchaseValue.map('${:10.2f}'.format)
}, )
SummarySN.sort_values(by=['Total Purchase Value'], ascending=False).head().to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th>Count Purchase</th>\n      <th>Avarage Purchase Price</th>\n      <th>Total Purchase Value</th>\n    </tr>\n    <tr>\n      <th>SN</th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Lisosia93</th>\n      <td>5</td>\n      <td>$3.79</td>\n      <td>$     18.96</td>\n    </tr>\n    <tr>\n      <th>Idastidru52</th>\n      <td>4</td>\n      <td>$3.86</td>\n      <td>$     15.45</td>\n    </tr>\n    <tr>\n      <th>Chamjask73</th>\n      <td>3</td>\n      <td>$4.61</td>\n      <td>$     13.83</td>\n    </tr>\n    <tr>\n      <th>Iral74</th>\n      <td>4</td>\n      <td>$3.40</td>\n      <td>$     13.62</td>\n    </tr>\n    <tr>\n      <th>Iskadarya95</th>\n      <td>3</td>\n      <td>$4.37</td>\n      <td>$     13.10</td>\n    </tr>\n  </tbody>\n</table>'

## Most Popular Items

In [15]:
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame
ItemCount=Purchase_df.groupby(['Item ID','Item Name']).count()['Purchase ID']
ItemPrice=Purchase_df.groupby(['Item ID','Item Name']).mean()['Price']
ItemValue=Purchase_df.groupby(['Item ID','Item Name']).sum()['Price']

In [16]:
SummaryItems=pd.DataFrame({
    'Purchase Count':ItemCount,
    'Item Price':ItemPrice.map('${:.2f}'.format),
    'Total Purcahse Value':ItemValue.map('${:10.2f}'.format)
})
SummaryItems.sort_values(by=['Purchase Count'], ascending=False).head().to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th></th>\n      <th>Purchase Count</th>\n      <th>Item Price</th>\n      <th>Total Purcahse Value</th>\n    </tr>\n    <tr>\n      <th>Item ID</th>\n      <th>Item Name</th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>92</th>\n      <th>Final Critic</th>\n      <td>13</td>\n      <td>$4.61</td>\n      <td>$     59.99</td>\n    </tr>\n    <tr>\n      <th>178</th>\n      <th>Oathbreaker, Last Hope of the Breaking Storm</th>\n      <td>12</td>\n      <td>$4.23</td>\n      <td>$     50.76</td>\n    </tr>\n    <tr>\n      <th>145</th>\n      <th>Fiery Glass Crusader</th>\n      <td>9</td>\n      <td>$4.58</td>\n      <td>$     41.22</td>\n    </tr>\n    <tr>\n      <th>132</th>\n      <th>Persuasion</th>\n      <td>9</td>\n      <td>$3.22</td>\n      <td>$     28.99</td>\n    </tr>\n    <tr>\n      <th>108</th>\n      <th>Extraction, Quickblade Of Trembling Hands</th>\n      <td>9</td>\n      <td>$3.53</td>\n      <td>$     31.77</td>\n    </tr>\n  </tbody>\n</table>'

### Most Porfitable Items

In [17]:
SummaryItems.sort_values(by=['Total Purcahse Value'], ascending=False).head().to_html(justify='center')

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: center;">\n      <th></th>\n      <th></th>\n      <th>Purchase Count</th>\n      <th>Item Price</th>\n      <th>Total Purcahse Value</th>\n    </tr>\n    <tr>\n      <th>Item ID</th>\n      <th>Item Name</th>\n      <th></th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>92</th>\n      <th>Final Critic</th>\n      <td>13</td>\n      <td>$4.61</td>\n      <td>$     59.99</td>\n    </tr>\n    <tr>\n      <th>178</th>\n      <th>Oathbreaker, Last Hope of the Breaking Storm</th>\n      <td>12</td>\n      <td>$4.23</td>\n      <td>$     50.76</td>\n    </tr>\n    <tr>\n      <th>82</th>\n      <th>Nirvana</th>\n      <td>9</td>\n      <td>$4.90</td>\n      <td>$     44.10</td>\n    </tr>\n    <tr>\n      <th>145</th>\n      <th>Fiery Glass Crusader</th>\n      <td>9</td>\n      <td>$4.58</td>\n      <td>$     41.22</td>\n    </tr>\n    <tr>\n      <th>103</th>\n      <th>Singed Scalpel</th>\n      <td>8</td>\n      <td>$4.35</td>\n      <td>$     34.80</td>\n    </tr>\n  </tbody>\n</table>'

In [18]:
SummaryItems.sort_values(by=['Item Price'], ascending=False).head()

,,Purchase Count,Item Price,Total Purcahse Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$ 9.98
139,"Mercy, Katana of Dismay",5,$4.94,$ 24.70
173,Stormfury Longsword,2,$4.93,$ 9.86
147,"Hellreaver, Heirloom of Inception",3,$4.93,$ 14.79
128,"Blazeguard, Reach of Eternity",5,$4.91,$ 24.55

## Conslusions