# Heroes Of Pymoli Data Analysis
## Summary
-There are XXXX players, XX% are males and XX are femmales.

In [1]:
#Setup
import pandas as pd
import nbconvert
#Load file with data and read data
DataFile="Resources/purchase_data.csv"
Purchase_df=pd.read_csv(DataFile)
Purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

##                                                                 Players

In [2]:
#Player count
Total=len(Purchase_df['SN'].unique())
pd.DataFrame({'Total':Total}, index=['Players'])

         Total
Players    576

## Revenue Analysis

In [3]:
#Number of unique Items
UniqueItems=len(Purchase_df['Item ID'].unique())
#Average purchase price
PriceAverage=round(Purchase_df['Price'].mean(),4)
#Total number of purchases
NumberPurchases=Purchase_df['Purchase ID'].count()
#Total Revenue
Revenue=round(Purchase_df['Price'].sum(),2)

In [4]:
RenevuePurchasing=pd.DataFrame({
    'Unique Items':UniqueItems,
    'Average Purchase Price':'${:.2f}'.format(PriceAverage),
    'Number of Purchases':NumberPurchases,
    'Total Revenue':'${:,}'.format(Revenue)
}, index=['Revenue summary'])
RenevuePurchasing

,Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
Revenue summary,179,$3.05,780,"$2,379.77"

## Gender Demographics
  
 There are player which are

In [5]:
#Percentage and count of male players
#Percentage and count of female players
#Percentage and count of other/Non-Disclosed
genderGroup=Purchase_df.groupby(['Gender'])
genderCount=genderGroup.nunique()['SN']
genderPercent=genderGroup.nunique()['SN']/Total

In [6]:
SummaryGender=pd.DataFrame({
    'Players':genderCount,
    'Percent':genderPercent.map('{:.2%}'.format)
}, index=set(Purchase_df['Gender']))
SummaryGender

                       Players Percent
Male                       484  84.03%
Other / Non-Disclosed       11   1.91%
Female                      81  14.06%

### Purchasing Analysis

In [7]:
#By gender
#Average purchase price
#Total purchase value
#Averange purchase total per person by gender
genderPriceAverage=round(genderGroup['Price'].mean(),2)
genderPurchaseValue=round(genderGroup['Price'].sum(),2)
genderPurcase=round(genderGroup['Purchase ID'].count(),2)
genderPurcaseAvarange=genderPurchaseValue/genderCount

In [8]:
SummaryGender2=pd.DataFrame({
    'Number of purchasings':genderPurcase,
    'Avarage purchase price':genderPriceAverage.map('${:.2f}'.format),
    'Total purchase vale':genderPurchaseValue.map('${:,}'.format),
    'Avarage Purchase per person':genderPurcaseAvarange.map('${:.2f}'.format)
})
SummaryGender2

,Number of purchasings,Avarage purchase price,Total purchase vale,Avarage Purchase per person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographis

In [9]:
#Establish bins for ages
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

bins=[0,9,14,19,24,29,34,39,99]
bins_labels=['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']
Purchase_df['Age category']=pd.cut(Purchase_df['Age'], bins, labels=bins_labels)

In [10]:
AgeCount=Purchase_df.groupby(['Age category']).nunique()['SN']
AgePercent=round(AgeCount/Total,4)
SummaryAge=pd.DataFrame({
    'Total count':AgeCount,
    'Percent':AgePercent.map('{:.2%}'.format)
},)
SummaryAge

              Total count Percent
Age category
<10                    17   2.95%
10-14                  22   3.82%
15-19                 107  18.58%
20-24                 258  44.79%
25-29                  77  13.37%
30-34                  52   9.03%
35-39                  31   5.38%
40+                    12   2.08%

### Purchasing by Age

In [11]:
AgeGroup=Purchase_df.groupby(['Age category'])
AgeCategory=AgeGroup['Purchase ID'].count()
AgeAveragePrice=round(AgeGroup['Price'].mean(),2)
AgePurchases=round(AgeGroup['Price'].sum(),2)
AgeAvePerCategory=round(AgePurchases/AgeCount,2)

In [12]:
SummaryAge2=pd.DataFrame({
    'Purchase Count':AgeCategory,
    'Average purchase price':AgeAveragePrice.map('${:.2f}'.format),
    'Total purchase value':AgePurchases.map('${:,}'.format),
    'Ave Total Purchase per Person':AgeAvePerCategory.map('${:.2f}'.format)
})
SummaryAge2

,Purchase Count,Average purchase price,Total purchase value,Ave Total Purchase per Person
Age category,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

In [13]:
SNCount=Purchase_df.groupby(['SN']).count()['Purchase ID']
SNAveragePurchasePrice=Purchase_df.groupby(['SN']).mean()['Price']
SNPurchaseValue=Purchase_df.groupby(['SN']).sum()['Price']

In [14]:
SummarySN=pd.DataFrame({
    'Count Purchase':SNCount,
    'Avarage Purchase Price':SNAveragePurchasePrice.map('${:.2f}'.format),
    'Total Purchase Value':SNPurchaseValue.map('${:10.2f}'.format)
}, )
SummarySN.sort_values(by=['Total Purchase Value'], ascending=False).head()

             Count Purchase Avarage Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79          $     18.96
Idastidru52               4                  $3.86          $     15.45
Chamjask73                3                  $4.61          $     13.83
Iral74                    4                  $3.40          $     13.62
Iskadarya95               3                  $4.37          $     13.10

## Most Popular Items

In [15]:
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame
ItemCount=Purchase_df.groupby(['Item ID','Item Name']).count()['Purchase ID']
ItemPrice=Purchase_df.groupby(['Item ID','Item Name']).mean()['Price']
ItemValue=Purchase_df.groupby(['Item ID','Item Name']).sum()['Price']

In [16]:
SummaryItems=pd.DataFrame({
    'Purchase Count':ItemCount,
    'Item Price':ItemPrice.map('${:.2f}'.format),
    'Total Purcahse Value':ItemValue.map('${:10.2f}'.format)
})
SummaryItems.sort_values(by=['Purchase Count'], ascending=False).head()

,,Purchase Count,Item Price,Total Purcahse Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$ 50.76
145,Fiery Glass Crusader,9,$4.58,$ 41.22
132,Persuasion,9,$3.22,$ 28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$ 31.77

### Most Porfitable Items

In [17]:
SummaryItems.sort_values(by=['Total Purcahse Value'], ascending=False).head()

,,Purchase Count,Item Price,Total Purcahse Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$ 59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$ 50.76
82,Nirvana,9,$4.90,$ 44.10
145,Fiery Glass Crusader,9,$4.58,$ 41.22
103,Singed Scalpel,8,$4.35,$ 34.80

In [18]:
SummaryItems.sort_values(by=['Item Price'], ascending=False).head()

,,Purchase Count,Item Price,Total Purcahse Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$ 9.98
139,"Mercy, Katana of Dismay",5,$4.94,$ 24.70
173,Stormfury Longsword,2,$4.93,$ 9.86
147,"Hellreaver, Heirloom of Inception",3,$4.93,$ 14.79
128,"Blazeguard, Reach of Eternity",5,$4.91,$ 24.55

## Conslusions